.wrapper {
  width: 100%;
  text-align: center;
}

.carousel {
  /* width: 95%;
  margin: 0px auto; */
}
.carousel_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100px;
}
.carousel_item--text {
  font-size: 13px;
}
.carousel .slick-slide {
  /* margin:10px; */
  /* padding:5px; */
}
.carousel .slick-slide img {
  margin: 0 auto;
  width: 50px;
  border: 2px solid #fff;
}
.slick-prev:before,
.slick-next:before {
  opacity: 1;
  color: white;
}
.slick-prev,
.slick-next {
  border-radius: 50%;
  background: grey;
  padding: 1px;
  padding-left: 0px;
}
.slick-prev:hover,
.slick-next:hover {
  border-radius: 50%;
  background: grey;
  padding: 1px;
  padding-left: 0px;
}
/* reviews  */
.section-intro {
  padding: 20px;
}
.reviews {
  padding-left: 25px;
  padding-right: 25px;
}
.reviews-title {
  font-size: 24px;
  font-weight: 700;
  color: rgb(250, 87, 87);
}
.reviews-item {
  padding: 20px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  /* max-width: 250px; */
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  margin-right: 5px;
}
.reviews-item img {
  width: 70px;
}
.reviews-wrapper .slick-list {
  max-width: 250px;
}
.reviews-item.slick-slide {
  max-width: 250px;
}
.carousel-mobile-wrapper {
  display: none;
}
@media only screen and (max-width: 769px) {
  .carousel {
    display: none;
  }
  .carousel-mobile-wrapper {
    display: flex;
    overflow-x: scroll;
  }
  .carousel-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }
  .carousel_item {
    width: 100px;
    align-items: stretch;
  }
  .carousel_item--img {
    width: 100%;
  }
  .carousel_item--img img {
    margin: 0 auto;
    width: 50px;
    border: 2px solid #fff;
    height: auto;
  }
  /* width */
  .carousel-mobile::-webkit-scrollbar {
    width: 0px;
  }
  .carousel-mobile-wrapper::-webkit-scrollbar {
    width: 0px;
  }

  /* Track */
  .carousel-mobile-wrapper::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  .carousel-mobile-wrapper::-webkit-scrollbar-thumb {
    background: transparent;
  }

  /* Handle on hover */
  .carousel-mobile-wrapper::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
}
